﻿#Route-Widget {
width:740px;
margin-left:20px;
}

#Route-Widget #Map {
    width:556px;
    height:500px;
	float:left;
}
#Route-Widget #Map .gm-style div {
	cursor:crosshair !important; 
}
#Route-Widget #Options {
float:left;
margin-left:20px;
width:150px;
}

#Route-Widget .button {
	float:left;
	cursor:pointer;
	margin-top:10px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:2px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:26px;
	line-height:26px;
	width:auto;
	padding:0 20px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
#Route-Widget .button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	}
#Route-Widget .button:active {
	position:relative;
	top:1px;
	}
#Route-Widget .seperator {
width: 100%;
height: 1px;
border-bottom: 2px solid #666;
display: block;
margin-top: 10px;
float: left;}

#Statistics {
	margin-top:10px;
	width:74%;
	float:left;
	background:#ddd;
	height:35px;
	border-radius:2px;
	border:1px solid #ccc;
}
#Statistics #Distance{
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	color:#333;
	margin:8px 10px 10px 10px;
	display:inline-block;
}
.dataholder{
	display:none;
}
#Statistics #Legend {
float: right;
margin-right: 12px;
}