@inherits umbraco.MacroEngines.DynamicNodeContext
@using Newtonsoft.Json;
@using uRouteMeUp.Extensions;
@{
    Route m = JsonConvert.DeserializeObject<Route>(Model.Route);

}
<p>
@m.Positions.Count
</p>
